<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="" />
    <add key="TableStripPrefix" value="" />
    <add key="DSLModelFile" value="" />
    <add key="GenerateBizObj" value="True" />
    <add key="BizObjBaseClass" value="ABusinessObject" />
    <add key="BizObjPrefix" value="" />
    <add key="BizObjSuffix" value="" />
    <add key="SetDefaultCommandType" value="True" />
    <add key="GenerateEntity" value="True" />
    <add key="EntityBaseClass" value="ABusinessEntity" />
    <add key="EntityPrefix" value="" />
    <add key="EntitySuffix" value="Entity" />
    <add key="GenerateNullableProperties" value="True" />
    <add key="GenerateBizRule" value="True" />
    <add key="BizRuleBaseClass" value="ABusinessRule" />
    <add key="BizRulePrefix" value="" />
    <add key="BizRuleSuffix" value="Rules" />
    <add key="GenerateRequiredFields" value="True" />
    <add key="MultipleRowCheck" value="False" />
    <add key="GenerateDefaultValues" value="True" />
    <add key="DefaultValuesBaseClass" value="" />
    <add key="DefaultValuesPrefix" value="" />
    <add key="DefaultValuesSuffix" value="Defaults" />
    <add key="DatabaseSet" value="" />
    <add key="Database" value="" />
    <add key="IntelligentRenaming" value="True" />
    <add key="GenerateDataAccessLayer" value="True" />
    <add key="UseDynamicSqlStatements" value="True" />
    <add key="CreateNewStoredProcedures" value="False" />
    <add key="UseExistingStoredProcedures" value="False" />
    <add key="NewSprocSelectCommand" value="&lt;DbcObjectName&gt;Select" />
    <add key="NewSprocInsertCommand" value="&lt;DbcObjectName&gt;Insert" />
    <add key="NewSprocUpdateCommand" value="&lt;DbcObjectName&gt;Update" />
    <add key="NewSprocDeleteCommand" value="&lt;DbcObjectName&gt;Delete" />
    <add key="NewSprocSelectByPkCommand" value="&lt;DbcObjectName&gt;SelectByPK" />
    <add key="NewSprocDAOBaseClass" value="" />
    <add key="NewSprocDAOPrefix" value="" />
    <add key="NewSprocDAOSuffix" value="DataAccess" />
    <add key="NewSprocDAOParameterPrefix" value="" />
    <add key="ExistingDAOBaseClass" value="" />
    <add key="ExistingDAOClassName" value="" />
    <add key="ExistingSprocDAOParameterPrefix" value="" />
    <add key="OverwriteExistingFiles" value="True" />
    <add key="Height" value="605" />
    <add key="Width" value="659" />
    <add key="RefreshDataSet" value="True" />
  </appSettings>
</configuration>